@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
    .container 
    {
        max-width:1400px;
        margin:auto;
        padding: 0 15px;
    }
    .header
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border-bottom:1px solid hsla(0,0%,100%,0.2);
        z-index:10;
        color: #fff;
    }

    .header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .logo img 
    {
        vertical-align: middle;
        height: 70px;
        width: 70px;

    }

    .header.sticky .logo img 
    {
        vertical-align: middle;
        height: 55px;
        width: 55px;

    }
    .header .menu .head
    {
        display: none;
    }

    .header .menu ul
    {
        list-style: none;

    }

    .header .menu > ul > li 
    {
        display: inline-block;
    }

    .header .menu > ul > li:not(:last-child)
    {
        margin-right: 40px;
    }
    
    .header .menu .dropdown
    {
        position: relative;

    }

    .header .menu a 
    {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 18px;
        color: hsl(0,0%,100%);
        line-height: 1.5;
        display: block;
        font-weight: 550;
    }

    .header .menu > ul > li > a 
    {
        padding:20px 0px ;
    }

    .header .menu > ul > .dropdown > a
    {
        padding-right: 15px;
    }
    .header .menu i
    {
        font-size: 10px;
        pointer-events: none;
        user-select: none;
        position: absolute;
        color: hsl(0,0%,100%);
        top: calc(50% - 5px);

    }
    .header .menu > ul >li > i 
    {
        right: 0;


    }
    .header .menu .dropdown .sub-menu a 
    {
        color: #000;
        
    }
    

    .header .menu .dropdown .sub-menu i 
    {
        color: #000;
        
    }
   

    .header .menu .sub-menu 
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 230px;
        padding: 15px 0;
        /* background-color: hsla(229,54%,51%); */
        /* background-color:rgb(30 41 59); */
        background-color:#eeebeb ;
        color: rgb(30 41 59);
        /* background-color:rgb(30 41 59) ; */
        box-shadow: 0 0 5px hsla(0,0%, 0%, 0.5);
        z-index:1;
        transform-origin:top ;
        visibility: hidden;
        opacity: 0;
    }

    .header .menu .sub-menu-right
    {
        left: 100%;
        top: 0;
       

    } 
    

    .header .menu .sub-menu-left
    {
        left: auto;
        top: 0;
        right: 100%;
       

    } 
    .header .logo-name .span1
    {
        color: #eeebeb;
    }

    

    .header.sticky .logo-name
    {
        color:#753f0e;
        /* color:rgb(202 160 70); */
    } 

    .header.sticky .logo .logo-name .span1
    {
        color:rgb(202 160 70);
    } 

    
    .header .menu li:hover > .sub-menu{
        opacity: 1;
        transform: none;
        visibility: visible;
        transition: all 0.5 ease;


    }



    .header .menu .sub-menu a 
    {
        padding: 6px 24px   ;
    }

    .header .menu .sub-menu i 
    {
        transform: rotate(-90deg);
        right: 24px;
        color: rgb(30 41 59)
    }
    .header .menu .sub-menu span {
        background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
        background-size: 0 1px;
        background-repeat: no-repeat;
        background-position: 0 100%;
        transition: background-size 0.5s ease, background-color 0.5s ease;
    }

    .header .menu .sub-menu li:hover > a > span {
        background-image: linear-gradient(rgb(59, 42, 30), rgb(30, 41, 59));
        background-size: 100% 1px;
    }

    .header-right 
    {
        display: flex;;
    }

    .header-right > *
    {
        margin-left: 25px;
    }
   

    .header-right .icon-btn 
    {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: hsl(0,0%,100%);
        font-size: 16px;


    }
    .header-right .open-menu-btn 
    {
        display: none;
    }

    @media(max-width:991px)
    {
        .header 
        {
            padding: 12px 0;
        }
        .header .container .logo img{
           height: 40px;
           width: 40px;
        }
        
        .header .menu 
        {
            position: fixed;
            right:0;
            top: 0;
            width: 320px;
            height: 100%;
            background-color: hsl(229,54%,51%);
            padding:15px 30px 30px;
            overflow-y:auto ;
            z-index:1;
            transform:translate(100%) ;



        }
        .header .menu.open 
        {
            transform: none;
        }
        .header .menu .head 
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;

        }
        .header .menu .close-menu-btn
        {
            height: 35px;
            width: 30px;
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border: none;
        }

        .header .menu .close-menu-btn::before,
        .header .menu .close-menu-btn::after 
        {
            content: '';
            position: absolute;
            width: 80%;
            height: 2px;
            background-color: hsl(0, 0%, 100%);

        }
        .header .menu .close-menu-btn::before
        {
            transform: rotate(45deg);
        }
        .header .menu .close-menu-btn::after
        {
            transform: rotate(-45deg);
        }
         .header .menu >ul >li 
         {
            display: block;
         }
         .header .menu > ul > li:not(:last-child)
         {
            margin-right: 0;
         }
         .header .menu li 
         {
            border-bottom: 1px solid hsla(0,0%,100%,0.25); ;
         }
         .header .menu li:first-child 
         {
            border-top: 1px solid hsla(0,0%,100%,0.25); ;
         }

         .header .menu > ul>li>a
         {
            padding:12px 0 ;
         } 
         
         .header .menu > ul>.dropdown > a
         {
            padding-right:40px ;
         } 

         .header .menu i 
         {
            height: 34px;
            width: 34px;
            border:1px solid hsla(0,0%,100%,0.25);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            pointer-events: auto;
            cursor: pointer;
            top: 7px;
         }
         .header .menu .dropdown.active > i 
         
         {
            background-color: hsla(0,0%,100%,0.25);
            transform: rotate(180deg);

         }

         .header .menu .sub-menu
         {
            position: static;
            opacity: 1;
            transform: none;
            visibility: visible;
            padding: 0;
            transition:none ;
            box-shadow: none;
            width: 100%;
            display: none;
         }
         .header .menu .dropdown.active > .sub-menu 
         {
            display: block;
         }

         .header .menu .sub-menu li:last-child
         {
            border: none;
         }
         .header .menu .sub-menu a 
         {
            padding:12px 0 12px 15px ;
         }
         .header .menu .sub-menu .sub-menu a 
         {
            padding-left: 40px;

         }

         .header .menu .sub-menu .sub-menu .sub-menu a 
         {
            padding-left: 40px;
            
         }

         .header .menu .sub-menu span 

         {
            background-image: none;

         }

         .header .menu .sub-menu i 
         {
            transform: none;
            right: 0;

         }

         .header-right .open-menu-btn 
         {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 44px;
            cursor: pointer;
            position: relative;
            background-color: transparent;
            border: none;
         }

         .header-right .open-menu-btn .line 
         {
            height: 2px;
            width: 20px;
            background-color: hsl(0,0%,100%);
            position: absolute;
         }

         .header-right .open-menu-btn .line-1
         {
            transform: translateY(-8px);
         }
         .header-right .open-menu-btn .line-3
         {
            transform: translateY(8px);
         }

         


    }






    .hero
    {
        position: relative;
        min-height: 100vh;
        overflow: hidden;

    }

    .hero video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures video scales properly */
        z-index: -1; /* Keeps video behind content */
    }
    body
    {
        font-family: 'Poppins',sans-serif;
        height: 100%;
       
    }

    @media(min-width:991px)
    {
        .header.sticky {
            position: fixed;
            background: #eeebeb    ; /* White background */
             /* White background */
            color: rgb(30, 41, 59); /* Black text */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition:all 0.5s ease-in-out;
        }
        
        /* Sticky Menu Links */
        .header.sticky .menu ul li a {
            color: rgb(30 41 59);
        }
        .header.sticky .menu ul .dropdown i{
            color: rgb(30 41 59);
        }

        .header.sticky .menu ul  .dropdown ul li a{
            color: rgb(30 41 59);
        }
        .header.sticky .menu ul  .dropdown ul li i{
            color: rgb(30 41 59);
        }


        
        /* Sticky Header Buttons */
        .header.sticky .icon-btn {
            color: #000;
        }

        
        
    }

    @media(max-width:991px)
        {
            .header.sticky{
                position: fixed;
                background: #efeaea;
                transition:all 0.5s ease-in-out;
                
            }
           
            
            /* Sticky Header Buttons */
            .header.sticky .icon-btn {
                color: #000;
            }
                .header.sticky .header-right .open-menu-btn .line 
            {
                height: 2px;
                width: 20px;
                background-color: black;
                position: absolute;
            }

            
        }

        .hero
        {
                padding: 100px 150px;
                position: relative;
            width: 100%; 
        min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;       }
        
    .hero .content

{
    /* z-index:888; */
    color: #fff;
    width: 70%;
    margin-top: 50px;

}

.hero .content h1 
{
    font-size:  4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.hero .content h1 span{
    font-size: 1.2em;
    font-weight: 600;

}

.hero .content p{
    margin-bottom: 65px;
 }

 .hero .content a{
    background: #fff;
    padding: 13px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
 }

 .hero .media-icons
 {
    /* z-index: 888; */
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
 }

 .hero .media-icons a{
    color: #fff;
    font-size:1.6em ;
    transition: 0.3s ease;

 }
 .hero .media-icons a:not(:last-child){
    margin-bottom: 20px;
 }

 .hero .media-icons a:hover{
    transform: scale(1.3);
 }
 
 @media (max-width:991px)

 {
    .hero 
    {
        padding: 100px 20px;
    }
    .hero .media-icons
    {
        right: 15px;

    }

 }